.center {
	text-align: center;
}

.about .name {
	font-size: 18px;
	font-weight: bold;
}

* {
	font-family: arial, helvetica, tahoma, sans-serif;
	font-size: 12px;
}

.ext-ie .x-form-text {
	POSITION: relative;
	TOP: -1px
}

textarea.chatinput {
	border: none;
}

/*-- roster component --*/
.roster-group * {
	font-family: tahoma, arial, verdana, sans-serif;
}

.roster-group {
	width: 100%;
}

.group-header.open {
	background: url("opened.png") no-repeat 5px 11px #ebeced;
}

.group-header.close {
	background: url("closed.png") no-repeat 6px 9px #ebeced;
}

.me {
	color: #385e79;
}

.peer {
	color: #d58248;
}

.group-header {
	cursor: default;
	font-weight: bold;
	padding: 5px;
	padding-left: 16px;
	background-color: #ebeced;
}

.selected .group-header {
	background-color: #5093d5;
}

.buddy.selected {
	background-color: #5093d5;
}

.buddy {
	padding-left: 16px;
	padding-top: 3px;
	padding-bottom: 4px;
	cursor: default;
}

.buddy-online {
	background: url("user-online.png") no-repeat left center;
}

.buddy-ask {
	background: url('user-requested.png') no-repeat left center;
}

.buddy-offline {
	background: url('user-offline.png') no-repeat left center;
}

.buddy-error {
	background: url('user-error.png') no-repeat left center;
}

.buddy-away {
	background: url('user-away.png') no-repeat left center;
}

.buddy-chat {
	background: url('user-chat.png') no-repeat left center;
}

.buddy-dnd {
	background: url('user-dnd.png') no-repeat left center;
}

.buddy-xa {
	background: url('user-xa.png') no-repeat left center;
}

.x-btn .buddy-online {
	background: url("user-online.png") no-repeat left center !important;
}

.x-btn .buddy-ask {
	background: url('user-requested.png') no-repeat left center !important;
}

.x-btn .buddy-offline {
	background: url('user-offline.png') no-repeat left center !important;
}

.x-btn .buddy-error {
	background: url('user-error.png') no-repeat left center !important;
}

.x-btn .buddy-away {
	background: url('user-away.png') no-repeat left center !important;
}

.x-btn .buddy-chat {
	background: url('user-chat.png') no-repeat left center !important;
}

.x-btn .buddy-dnd {
	background: url('user-dnd.png') no-repeat left center !important;
}

.x-btn .buddy-xa {
	background: url('user-xa.png') no-repeat left center !important;
}