tigase-webmessenger-commons/target
tigase-webmessenger-commons/.settings
tigase-webmessenger-commons/.project
tigase-webmessenger-commons/.classpath
tigase-webmessenger-app/.settings
tigase-webmessenger-app/target
.project
.classpath
