.center {
	text-align: center;
}

.header .links {
	border-bottom: 1px solid #e1ecfe;
}

.header .jidLabel {
	font-weight: bold;
}

.chatTabItem textarea {
	border: none;
}

div.chatHeader * {
	background-color: #dfe8f6;
}

.chatDescription {
	margin-left: 5px;
	font-weight: normal;
}

.chatTitle {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 18px;
	font-weight: bold;
}

.header div { //
	background: white;
	font-size: 13px;
	font-family: arial, sans-serif;
}

.about .name {
	font-size: 18px;
	font-weight: bold;
}

.logoutLink {
	color: blue;
	cursor: pointer;
}

* {
	font-family: arial, helvetica, tahoma, sans-serif;
	font-size: 12px;
}

.ext-ie .x-form-text {
	POSITION: relative;
	TOP: -1px
}

textarea.chatinput {
	border: none;
}

/*-- roster component --*/
.roster-group * {
	font-family: tahoma, arial, verdana, sans-serif;
}

.roster-group {
	width: 100%;
}

.chat-icon {
	background: url("chat.png");
}

.group-chat-icon {
	background: url("group-chat.png");
}

.group-header.open {
	background: url("opened.png") no-repeat 5px 11px #ebeced;
}

.group-header.close {
	background: url("closed.png") no-repeat 6px 9px #ebeced;
}

.me {
	color: #385e79;
}

.peer {
	color: #d58248;
}

.error {
	color: red;
}

div.error {
	background: #efefef;
}

.group-header {
	cursor: default;
	font-weight: bold;
	padding: 5px;
	padding-left: 16px;
	background-color: #ebeced;
}

.selected .group-header {
	background-color: #5093d5;
}

.buddy.selected {
	background-color: #5093d5;
}

.buddy {
	padding-left: 16px;
	padding-top: 3px;
	padding-bottom: 4px;
	cursor: default;
}

.buddy-noauth {
	background: url("user-offline-nonauth.png") no-repeat left center;
}

.buddy-online {
	background: url("user-online.png") no-repeat left center;
}

.buddy-ask {
	background: url('user-requested.png') no-repeat left center;
}

.buddy-offline {
	background: url('user-offline.png') no-repeat left center;
}

.buddy-error {
	background: url('user-error.png') no-repeat left center;
}

.buddy-away {
	background: url('user-away.png') no-repeat left center;
}

.buddy-chat {
	background: url('user-chat.png') no-repeat left center;
}

.buddy-dnd {
	background: url('user-dnd.png') no-repeat left center;
}

.buddy-xa {
	background: url('user-xa.png') no-repeat left center;
}

.x-btn .buddy-online {
	background: url("user-online.png") no-repeat left center !important;
}

.x-btn .buddy-ask {
	background: url('user-requested.png') no-repeat left center !important;
}

.x-btn .buddy-offline {
	background: url('user-offline.png') no-repeat left center !important;
}

.x-btn .buddy-error {
	background: url('user-error.png') no-repeat left center !important;
}

.x-btn .buddy-away {
	background: url('user-away.png') no-repeat left center !important;
}

.x-btn .buddy-chat {
	background: url('user-chat.png') no-repeat left center !important;
}

.x-btn .buddy-dnd {
	background: url('user-dnd.png') no-repeat left center !important;
}

.x-btn .buddy-xa {
	background: url('user-xa.png') no-repeat left center !important;
}

.x-tab-strip-top .unread .x-tab-right{background:transparent url(./images/selected/tabs/tabs-sprite.gif) no-repeat 0 -51px;padding-left:10px;}
.x-tab-strip-top .unread .x-tab-left{background:transparent url(./images/selected/tabs/tabs-sprite.gif) no-repeat right -351px;padding-right:10px;}
.x-tab-strip-top .unread .x-tab-strip-inner{background:transparent url(./images/selected/tabs/tabs-sprite.gif) repeat-x 0 -201px;}
