/** Add css rules here for your application. */
.msgs {
	margin-left: 3px;
}

.line {
	padding-bottom: 3px;
}

.msgs * {
	font-family: arial, tahoma, helvetica, sans-serif;
	font-size: 12px;
}

.msg {
	color: black;
}

.newDay,.appMessage,.appMessage .msg {
	color: #008000;
}

.errorMessage,.errorMessage .msg {
	color: #ff0000;
}

.hisMessage {
	color: #0000ff;
}

.hisMessage.a1 {
	color: #000080;
}

.hisMessage.a2 {
	color: #800080;
}

.hisMessage.a3 {
	color: #993366;
}

.hisMessage.a4 {
	color: #993300;
}

.mineMessage {
	color: #ff0000;
}

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}